

.group {
    display: flex;
    width: auto;
    outline: 1px green solid;
}

.folder-list {
    width: 35%;
    border-right: blue 2px solid;
    height: 40rem;
}

.note-list {
    width: 100%;
    margin: 5px;
    border: black solid 2px;
}