

.group {
    display: flex;
    width: auto;
    outline: 1px green solid;
}

.folder-list {
    width: 35%;
    /* border-right: blue 2px solid;
    height: 100%; */
}

.note-list {
    width: 100%;
    border-left: black 2px solid;
    height: 100%;
    /* border: black solid 2px; */
}