.wrapper {
    width: auto;
    margin: 2%;
    text-align: left;
    border: 2px black solid;
}

.note-title {
    margin: 5px 10px;
    font-size: 1.5rem;
}

.note-btn {
    background-color: transparent;
    margin: 2% 2%;
    border: none;
    border-radius: 5px;
}

.note-btn:hover {
    cursor: pointer;
    background-color: rgb(168, 209, 209);
}

.note-btn:focus {
    border: none;
    outline: none;
    background-color: rgb(146, 187, 187);
}

.note-bottom {
    display: flex;
    justify-content: space-between;
    /* border: 2px black dotted; */
    margin: 0 10px;
    padding: 0;
    align-items: center;
}

.delete-btn {
    font-size: 1rem;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
}

.delete-btn:hover {
    cursor: pointer;
}

.note-content {
    padding: 10px;
}